


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Kushal Thapa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item active"><a class="nav-link" href="/projects">Projects</a></li>
            <a class="nav-link" href="/blog">Blog</a>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <header>
    <h1>My Projects on AWS</h1>
    <p></p>
  </header>
  <style>
    {% load static %}
</style>
  <style>
  body{font-family:Arial, sans-serif;background-color:#808080;margin:0;padding:0}header{background-color:#333;color:#fff;padding:1rem;text-align:center}.container{max-width:1100px;margin:10px auto;padding:20px;background-color:#fff;border-radius:8px;box-shadow:0 0 10px rgba(0,0,0,.1)}h2{color:#333}label{font-weight:bold}input,textarea{width:100%;padding:10px;border:1px solid #ddd;border-radius:4px;box-sizing:border-box}button{background-color:#007BFF;color:#fff;padding:10px 20px;border:none;border-radius:4px;cursor:pointer}button:hover{background-color:#0056b3}
</style>
  </div>
  <div class="container">
  <div class="card"><img src="{% static 'home/AWS serverless blog.jpeg' %}"  class="card-img-top" alt="Python Data Analysis">
    <div class="card-body">
      <h5 class="card-title">AWS Serverless Blog with AWS Lamda and Dyanmo DB</h5>
      <p class="card-text">Build a serverless blog using AWS Lambda for handling request and DynamoDB for storing blog posts.</p>
      <a href="http://127.0.0.1:8000/blog"class="btn btn-primary">Learn More</a>
    </div>
    </div>
    <div class="container">
    <div class="card"><img src="{% static 'home/vpc.png' %}"  class="card-img-top" alt="Python Data Analysis">
      <div class="card-body">
        <h5 class="card-title">Network Security and VPC Configuration</h5>
        <p class="card-text">Explore network security in AWS by configuring Virtual Private Cloud (VPC) subnets and security groups.Implement secure communication between resources.</p>
        <a href="http://127.0.0.1:8000/blog"class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="container">
    <div class="card"><img src="{% static 'home/dataanalysis.png' %}" class="card-img-top" alt="AWS Lambda Function">
      <div class="card-body">
        <h5 class="card-title">Data Analysis with AWS GLue and Athena</h5>
        <p class="card-text">Use AWS Glue for ETL (Extract, Transform, Load) to prepare data for analysis..</p>
        <a href="http://127.0.0.1:8000/blog" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="container">
      <div class="card"><img src="{% static 'home/cloudwatch.png' %}" class="card-img-top" alt="AWS Lambda Function">
        <div class="card-body">
          <h5 class="card-title">Monitoring and Alerts with CloudWatch</h5>
          <p class="card-text">Use AWS Glue for ETL (Extract, Transform, Load) to prepare data for analysis..</p>
          <a href="http://127.0.0.1:8000/blog" class="btn btn-primary">Learn More</a>
  </div>
  <div class="container">
    <div class="card"><img src="{% static 'home/imageprocessing.png' %}" class="card-img-top" alt="AWS Lambda Function">
      <div class="card-body">
        <h5 class="card-title">Image Processing with AWS Lamda and S3</h5>
        <p class="card-text">Set up monitioring for your AWS resources using AWS CloudWatch and create custom metrics, alarms, and notificaitons for key performance indicators.</p>
        <a href="http://127.0.0.1:8000/blog" class="btn btn-primary">Learn More</a>
      </div>
  <div class="container">
    <div class="card"><img src="{% static 'home/django.jpeg' %}" class="card-img-top" alt="AWS Lambda Function">
      <div class="card-body">
        <h5 class="card-title">Web Application with Django on AWS Elastic Beanstalk</h5>
        <p class="card-text">Develop a web application using a Django and deployed the application on AWS Elastic Beanstalk, and configure auto-scaling.</p>
        <a href="http://127.0.0.1:8000/blog" class="btn btn-primary">Learn More</a>
      </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>